#header {
    display: flex;
    justify-content: center;
    background-color: #b6e1e0;
    color: #2b4353;
    top: 0;
    width: 100%;
}

body {
    background-color: #9cd3d3;
    color: #2b4353;
    padding: 0;
    margin: 0;
}

#footer {
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #e8630a;
    color: #2b4353;
    position: fixed;
}
#gridOnPage{
    display: flex;
    justify-content:center;
    height: 120px;
}

#grid{

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    height: 200%;
    justify-content: space-around;
    margin: 20px;
    
    
}
.box{
    width: 100%;
    height: 100%;
    text-align: center;
    border: solid;
    border-width: 2px;
    font-size: 5em;
}
 #button-row {
    display: flex;
    justify-content: center;
    top: 100px;
    position: absolute; 
} 
 /* #start-game-btn {
    display: flex;
    justify-content: center;
    top: 105px; 
} */
#button-bot {
    display: flex;
    justify-content: center;
    top: 125px;
    padding: 8px;
    position:absolute;
    
} 
#botButtonPage{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#buttonOnPage{
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 
