#header {
    display: flex;
    justify-content: center;
    background-color: #b6e1e0;
    color: #2b4353;
    top: 0;
    width: 100%;
    border-bottom: solid;
    border-color: #e8630a;
}
#PlayerTwoName{
    margin-top: 10px;
    border: none;
}
#PlayerOneName{
    border: none;
}
#submitButton{
    margin-top: 10px;
    margin-left: 160px;
}

body {
    background-color: #9cd3d3;
    color: #2b4353;
    padding: 0;
    margin: 0;
}

/* #footer {
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #e8630a;
    color: #2b4353;
    position: fixed;
} */
#gridOnPage{
    display: flex;
    justify-content:center;
    height: 120px;
}

#grid{

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    width: 60%;
    height: 200%;
    justify-content: space-around;
    margin: 20px;
}
.box{
    width: 100%;
    height: 100%;
    text-align: center;
    border: solid;
    border-width: 2px;
    font-size: 5em;
}
 #button-restart {
    top: 130px;
    padding-top: 20px;
    padding-right: 40px;
    position: relative; 
} 
#button-bot {
    top: 125px;
    padding: 5px;
    padding-right: 40px;
    position:relative;
} 
#botButtonPage{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 5px;
}
#buttonOnPage{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 5px;
} 
h3{
    padding: 10px;
}
form{
    padding-left: 25px;
}
.button{
    background-color: #e8630a;
    color:#2b4353;
    padding: 10px;
    border: none;
    border-radius: 12px;
    
}