#header {
    display: flex;
    justify-content: center;
    background-color: #b6e1e0;
    color: #2b4353;
    border-bottom: solid;
    border-color: #e8630a;
}

body {
    background-color: #9cd3d3;
    color: #2b4353;
    padding: 0;
    margin: 0;
}

/* #footer {
    bottom: 0;
    position:fixed;
    height: 60px;
    width: 100%;
    background-color: #e8630a;
    color: #2b4353;
} */


#button-restart {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#button-bot {
    display: flex;
    justify-content: center;
    padding: 8px;
    text-decoration: none;
} 
#game-rules {
    border-style: solid;
    border-color: #e8630a;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    padding: 25px;
    padding-left: 50px;
}
.button{
    background-color: #e8630a;
    color:#2b4353;
    padding: 10px;
    border: none;
    border-radius: 12px;
    
}