#header {
    display: flex;
    justify-content: center;
    background-color: #b6e1e0;
    color: #2b4353;
}

body {
    background-color: #9cd3d3;
    color: #2b4353;
    padding: 0;
    margin: 0;
}

#footer {
    bottom: 0;
    position:fixed;
    height: 60px;
    width: 100%;
    background-color: #e8630a;
    color: #2b4353;
}


#button-row {
    display: flex;
    justify-content: center;
}

#game-rules {
    border-style: solid;
    border-color: #e8630a;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    padding: 25px;
}